body
{
   background-color: #008B8B;
   background-image: url('images/index_bkgrnd.png');
   background-repeat: repeat-x;
   color: #820000;
   font-family: Arial;
   font-weight: normal;
   font-size: 24px;
   line-height: 1.1875;
   margin: 0;
   padding: 0;
}
a
{
   color: #800000;
   text-decoration: none;
}
a:visited
{
   color: #B22222;
}
a:active
{
   color: #DC143C;
}
a:hover
{
   color: #B22222;
   text-decoration: none;
}
#wb_Heading1
{
   background-color: transparent;
   background-image: none;
   border: 0px solid #800000;
   border-radius: 0px;
   margin: 0;
   padding: 0;
   text-align: left;
}
#Heading1
{
   color: #800000;
   font-family: "Lucida Console";
   font-weight: bold;
   font-style: normal;
   font-size: 37px;
   margin: 0;
   text-align: left;
   text-transform: none;
}
#SlideShow1
{
   margin: 0;
   margin-left: auto !important;
   margin-right: auto !important;
   max-width: 1920px;
}
.lSSlideOuter .lSPager.lSGallery li, .lSSlideOuter .lSPager.lSGallery li.active, .lSSlideOuter .lSPager.lSGallery li:hover
{
   border-radius: 0px;
}
#SlideShow1 img
{
   object-fit: cover;
   width: 100%;
}
#SlideShow1 .lSGallery
{
   display: inline-flex;
}
#SlideShow1
{
   border: 0px solid #DEE2E6;
   border-radius: 0px;
}
#wb_Text1 
{
   background-color: transparent;
   background-image: none;
   border: 0px solid #000000;
   border-radius: 0px;
   padding: 0;
   margin: 0;
   text-align: left;
}
#wb_Text1 div
{
   text-align: left;
}
#wb_Line1
{
   font-size: 0;
}
#Line1
{
   border-width: 0;
   height: 426px;
   width: 8px;
}
#wb_Text2 
{
   background-color: transparent;
   background-image: none;
   border: 0px solid #000000;
   border-radius: 0px;
   padding: 0;
   margin: 0;
   text-align: left;
}
#wb_Text2 div
{
   text-align: left;
}
#wb_Text3 
{
   background-color: transparent;
   background-image: none;
   border: 0px solid #000000;
   border-radius: 0px;
   padding: 0;
   margin: 0;
   text-align: left;
}
#wb_Text3 div
{
   text-align: left;
}
#wb_Image1
{
   vertical-align: top;
}
#Image1
{
   border: 0px solid #000000;
   border-radius: 0px;
   box-sizing: border-box;
   padding: 0;
   margin: 0;
   left: 0;
   top: 0;
   width: 100%;
   height: 100%;
}
